main {
  padding: 2rem 6rem;
}

.titulo {
  display: flex;
  align-items: center;
  width: 100%;
}

.td-btn-excluir {
  display: flex;
}

.td-btn-excluir p-button {
  margin-left: auto;
}

#btn-novo {
  margin-left: auto;
}

.dialog-header {
  border-bottom: 1px solid black;
}

.input-group {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: .75rem;

  label {
    width: 100%;
  }

  input {
    width: 100%;
    margin-top: .5rem;
  }
}

// :host ::ng-deep {
//   .p-datatable .p-datatable-thead>tr>th {
//     background-color: #dee2e6;
//   }
// }