@import "primeicons/primeicons.css";

body {
  background-color: #f5f5f5;
  color: #495057;
}

main {
  padding: .75rem .5rem;

  @media (min-width: 576px) {
    padding: 2rem 2rem;
  }

  @media (min-width: 768px) {
    padding: 2rem 4rem;
  }

  @media (min-width: 992px) {
    padding: 2rem 6rem;
  }

  @media (min-width: 1200px) {
    padding: 2rem 8rem;
  }

  @media (min-width: 1200px) {
    padding: 2rem 10rem;
  }
}

.logo {
  margin-bottom: 2rem;
}

.titulo {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 1.5rem;

  h1 {
    display: block;
    margin: 0 auto 0 0;
  }

  @media (max-width: 576px) {
    flex-wrap: wrap;

    h1 {
      font-size: 30px;
      margin: 0 0 1.5rem 0;
      width: 100%;
      text-align: center;
    }

    p-button {
      width: 100%;

      button {
        display: block;
        width: 100%;
      }
    }
  }
}

td {
  padding: 0 1rem;
}

td.btn-excluir {
  display: flex;

  p-button {
    margin-left: auto;

    button {
      padding: 0;
    }
  }
}

.p-dialog .p-dialog-header {
  border-bottom: 1px solid #dee2e6;
}

.p-dialog .p-dialog-content {
  padding: 1.5rem;

  form {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
  }
}

.p-dialog .p-dialog-footer {
  border-top: 1px solid #dee2e6;
  justify-content: end;
  padding: 1.5rem;
  display: flex;
  column-gap: .75rem;

  button {
    margin: 0;
  }
}

.input-group {
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  label {
    width: 100%;
  }

  input {
    width: 100%;
    margin-top: .5rem;
  }
}

.invalid-msg {
  color: red;
  font-size: 12px;
  margin-top: .25rem;
}